@page "/toys"
@using BlazorCrud.Client.Abstraction
@inject IToyService ToyService
@inject NavigationManager NavigationManager

<PageTitle>Toys</PageTitle>

<h3>Toys</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Toy type</th>
            <th>Brand name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var toy in ToyService.Toys)
        {
            <tr>
                <td>@toy.Name</td>
                <td>@toy.ToyType</td>
                <td>@toy.Brand.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => ShowToy(toy.Id)"><i class="oi oi-spreadsheet"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ToyService.GetToysList();
    }

    void ShowToy(int id)
    {
        NavigationManager.NavigateTo($"toy/{id}");
    }
}
